body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: LightCoral;
    bottom: 20px;
    width: 100vw;
    height: 4.8vw;
}

#ancoraheader{
    color: white;
    font-size: 16pt;
    font-family: 'Sniglet', cursive;
}

#bemvindo{
    position: relative;
    /* top: 20px; */
    /* left: 20px; */
    background-color: pink;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#SejaBemvindo{
    font-size: 14pt;
    font-family: 'Sniglet', cursive;
}

/* p{
    font-family: 'Quicksand', sans-serif;
}

footer{
    font-family: 'Quicksand', sans-serif;
} */

section{
    text-align: center;
}
#imagemsection{
    margin-top: 10px;
    width: 250px;
    height: 250px;
    position: relative;
    
}